<!DOCTYPE html>
<html>
<head>
    <title>Products</title>

    <style>
        body { font-family: Arial; background: #f4f4f4; }
        .container { width: 60%; margin: auto; }
        .product { background: white; padding: 15px; margin: 10px 0; }
    </style>
</head>

<body>
<div class="container">
    <h2>Product List</h2>

    <a href="/add/">Add New Product</a>

    {% for product in products %}
        <div class="product">
            <h3>{{ product.title }}</h3>
            <p><b>Price:</b> ₹{{ product.price }}</p>
            <p>{{ product.description }}</p>
        </div>
    {% empty %}
        <p>No products available.</p>
    {% endfor %}
</div>
</body>
</html>